<form action="/recipes" method="post">
    Name: <input name="name" type="text" /> <br />
    Prep-time (mins): <input max="99" min="0" name="prep_time" step="5" type="number" value="" /> <br />
    Difficulty: <select name="difficulty">
        <option selected="selected" value="Very easy">Very easy</option>
        <option value="Easy">Easy</option>
        <option value="Moderate">Moderate</option>
        <option value="Difficult">Difficult</option>
    </select><br />
    <textarea cols="20" name="comments" rows="5">Description</textarea><br />
    <input type="submit" value="Create" />
</form>
